@import "../shared/helper";

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: px(20);

  header {
    height: px(120);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ffffff00 0%, #04135f 50%, #ffffff00 100%);
    font-size: px(50);
  }

  >main {
    flex: 1;
    display: grid;
    width: px(2420);
    margin: 0 auto;
    grid-template:
      "box1 box2 box4 box5"755fr "box3 box3 box4 box5"363fr / 366fr 361fr 811fr 747fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);

    >section {
      text-align: center;
    }

    .border {
      border: 1px solid #0764bc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
      background: #010e1c;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 4px;
        box-shadow:
          17px 0 0 -16px #0e325f,
          -17px 0 0 -16px #0e325f,
          0 17px 0 -16px #0e325f,
          0 -17px 0 -16px #0e325f,
          9px 0 0 -8px #0d4483,
          -9px 0 0 -8px #0d4483,
          0 9px 0 -8px #0d4483,
          0 -9px 0 -8px #0d4483;
      }
    }

    >.section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    >.section2 {
      grid-area: box2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    >.section3 {
      grid-area: box3;
    }

    >.section4 {
      grid-area: box4;
    }

    >.section5 {
      grid-area: box5;
    }

    .管辖统计,
    .破获排名,
    .发案趋势,
    .案发时段,
    .战果,
    .籍贯 {
      height: px(315);
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        flex-shrink: 0;
        border: 1px solid #0a5299;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        font-size: px(24);
        padding: px(4) px(18);
        text-shadow: 0 0 px(3) white;
      }

      .chart {
        flex: 1;
        width: 100%;
      }
    }

    .发案趋势,
    .案发时段 {
      height: px(363);
    }

    .籍贯 {
      height: px(1000);
      background: transparent;

      >.formWrapper {
        display: flex;
        justify-content: space-around;

        div {
          margin-top: px(64);
          width: px(200);
          height: px(100);
          border: 1px solid #1552ad;
          background: rgba(31, 59, 70, 0.35);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: px(18);
          color: #25bee4;
          position: relative;

          p {
            margin-bottom: px(2);
            font-size: px(36);
            color: rgb(255, 255, 255);
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: 7px 0 0 -6px #103852,
              -7px 0 0 -6px #103852,
              0 7px 0 -6px #103852,
              0 -7px 0 -6px #103852, ;
          }
        }
      }

      >.wrapper {
        position: relative;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;

        .chart {
          flex: 1;
        }

        .notes {
          position: absolute;
          bottom: px(80);
          right: px(10);
        }
      }

    }

    .战果 {
      >table {
        border-collapse: collapse;
        margin: px(36) auto;

        th,
        td {
          border: 1px solid #1a3671;
        }

        thead {
          th {
            height: px(70);
            box-shadow: inset 0 0 px(60) 0 #1f3d85;
          }
        }

        tbody {
          td {
            height: px(50);
            width: px(84);
            background: #1c2456;
          }

        }
      }
    }

    .破获排名 {
      height: px(450);

      .legend {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 0 px(20) px(10);

        >.first,
        >.second {
          display: inline-block;
          width: px(18);
          height: px(12);
          background: red;
          margin: 0 px(10);
        }

        .first {
          background: linear-gradient(90deg, #2034f9 0%, #04a1ff 100%);
        }

        .second {
          background: linear-gradient(90deg, #b92ae8 0%, #6773e7 100%);
        }
      }
    }
  }

  >footer {
    height: px(40);
    margin-top: px(8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: px(22);
    background: #060025;
  }
}