@import "../shared/helper";

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: px(20);

  overflow: hidden;

  header {
    height: px(120);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ffffff00 0%, #04135f 50%, #ffffff00 100%);
    font-size: px(50);
  }

  >main {
    flex: 1;
    display: grid;
    width: px(2420);
    margin: 0 auto;
    grid-template:
      "box1 box2 box4 box5"755fr "box3 box3 box4 box5"363fr / 366fr 361fr 811fr 747fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);

    >section {
      text-align: center;
    }

    .border {
      border: 1px solid #0764bc;
      border-radius: 4px;
      position: relative;
      box-shadow: 0 0 2px 0 #0e325f, inset 0 0 2px 0 #0e325f;
      background: #010e1c;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 4px;
        box-shadow:
          17px 0 0 -16px #0e325f,
          -17px 0 0 -16px #0e325f,
          0 17px 0 -16px #0e325f,
          0 -17px 0 -16px #0e325f,
          9px 0 0 -8px #0d4483,
          -9px 0 0 -8px #0d4483,
          0 9px 0 -8px #0d4483,
          0 -9px 0 -8px #0d4483;
      }
    }

    >.section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    >.section2 {
      grid-area: box2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    >.section3 {
      grid-area: box3;
    }

    >.section4 {
      grid-area: box4;

    }

    >.section5 {
      grid-area: box5;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      >.row1 {
        height: px(317);
      }

      >.row2 {
        height: px(317);
      }

      >.row3 {
        height: px(455);
      }
    }

    .管辖统计,
    .破获排名,
    .发案趋势,
    .案发时段,
    .战果,
    .籍贯,
    .年龄段,
    .案发类型,
    .案发街道,
    .作案手段 {
      height: px(315);
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        flex-shrink: 0;
        border: 1px solid #0a5299;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        font-size: px(24);
        padding: px(4) px(18);
        text-shadow: 0 0 px(3) white;
      }

      .charts {
        width: 100%;
        flex: 1;
        display: flex;
      }

      .chart {
        flex: 1;
        width: 100%;
      }
    }

    .发案趋势,
    .案发时段 {
      height: px(363);
    }

    .年龄段 {
      display: flex;
      flex-direction: column;
      height: px(363);

      >.charts {
        width: 100%;
        flex: 1;
        border: 1px solid red;
        display: flex;
        padding: px(30);
      }

      &-图1,
      &-图2,
      &-图3 {
        flex: 1;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
      }
    }

    .籍贯 {
      height: 100%;
      background: transparent;
      position: relative;

      >.formWrapper {
        display: flex;
        justify-content: space-around;

        div {
          margin-top: px(72);
          width: px(300);
          height: px(120);
          border: 1px solid #1552ad;
          background: rgba(31, 59, 70, 0.35);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: px(22);
          color: #25bee4;
          position: relative;

          p {
            margin-bottom: px(2);
            font-size: px(42);
            color: rgb(255, 255, 255);
          }

          &::before {
            pointer-events: none;
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: 7px 0 0 -6px #103852,
              -7px 0 0 -6px #103852,
              0 7px 0 -6px #103852,
              0 -7px 0 -6px #103852, ;
          }
        }
      }

      >.wrapper {
        position: relative;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;

        .chart {
          flex: 1;
        }

        .notes {
          position: absolute;
          bottom: px(60);
          right: px(10);
        }

      }



      >.ring {
        border: 1px solid #0c2939;
        position: absolute;
        bottom: px(148);
        left: px(148);
        width: px(124);
        height: px(124);
        border-bottom: none;
        border-radius: 50%;
        overflow: hidden;
        animation: spin infinite 5s linear;

        >.radar {
          border: 4px solid #103142;
          position: absolute;
          width: px(88);
          height: px(88);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: px(44);
            height: px(44);
            border: 4px solid #082132;
            border-radius: 50%;
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: px(2);
            height: px(32);
            z-index: 1;
            background: #007cc0;
            border-radius: 50%;
            box-shadow: 0 0 5px 1px #0094e4,
              -3px -10px 5px 1px #0094e4,
              -7px -15px 10px 1px #0094e4,
              -3px -3px 10px 1px #0094e4,
              -7px -7px 20px 1px #0094e4,
              -11px -11px 30px 1px #0094e4,
              -11px -11px 40px 1px #0094e4,
              -11px -11px 30px 1px #0094e4,
              -11px -11px 30px 1px #0094e4;
          }
        }
      }

      @keyframes spin {
        from {
          transform: rotate(0);
        }

        to {
          transform: rotate(360deg);
        }
      }

      >span {
        font-size: px(22);
        position: absolute;
        bottom: px(88);
        left: px(128);
        color: #eee;
      }
    }

    .战果 {
      >table {
        border-collapse: collapse;
        margin: px(36) auto;

        th,
        td {
          border: 1px solid #1a3671;
        }

        thead {
          th {
            height: px(70);
            box-shadow: inset 0 0 px(60) 0 #1f3d85;
          }
        }

        tbody {
          td {
            height: px(50);
            width: px(84);
            background: #1c2456;
          }

        }
      }
    }

    .破获排名 {
      height: px(450);

      .legend {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 0 px(20) px(10);

        >.first,
        >.second {
          display: inline-block;
          width: px(18);
          height: px(12);
          background: red;
          margin: 0 px(10);
        }

        .first {
          background: linear-gradient(90deg, #2034f9 0%, #04a1ff 100%);
        }

        .second {
          background: linear-gradient(90deg, #b92ae8 0%, #6773e7 100%);
        }
      }
    }
  }

  >footer {
    height: px(40);
    margin-top: px(8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: px(22);
    background: #060025;
  }
}